// FONTS
$chivo-mono: 'Chivo Mono', monospace;

// COLORS
$white: #ffffff;
$gray: #f3f8fb;
$aquamarine: #c5e4e7; 
$dark-green: #00474b; 
$green: #0d686d; 
$dark-gray: #767c7c; 
$ashen: #c3ced0; 
$bright-green: #2bb9a8; 
$bottle-green: #5a8d91; 
$bottle-green2: #065d64;
$red: #FF0000;

