// FONTS
$chivo-mono: 'Chivo Mono', monospace;

// COLORS
$white: #ffffff;
$gray: #f3f8fb;
$aquamarine: #c5e4e7; // background
$dark-green: #00474b; // btns with tips
$green: #0d686d; // btn reset
$dark-gray: #767c7c; // text headers
$ashen: #c3ced0; // icons
$bright-green: #2bb9a8; // numbers - 000
$bottle-green: #5a8d91; // text person
$bottle-green2: #065d64;

